body {
  background-color: #eee;
}

.nav-wrapper ul li:hover {
  background-color: #fe6e00;
}

.nav-content ul li:hover {
  background-color: #fe6e00;
}

.brand-logo:hover {
  color: #fe6e00 !important;
}

.title{
  font-weight: bold;
}

.btn.south-system-theme {
  background: #fe6e00;
}

.input-field label {
  color: #fe6e00;
}
.input-field input[type="text"]:focus + label {
  color: #fe6e00;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type="text"].valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
.input-field select.valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

.input-field input[type="text"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.cover-preview {
  width: 50%;
  padding: 5px;
  border: solid 1px #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #eee;
  margin-bottom: 1%;
  margin-right: 1%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  float: right;
}

.cover-preview img {
  width: 100%;
  height: auto;
}